---
import DefaultPageLayout from '../layouts/default.astro'
import PostPreviewList from '../components/PostPreviewList.astro'

const title = 'Etusivu'
const description = 'Välilehti on.. mitä se nyt on.'

const posts = Astro.fetchContent('./artikkelit/*.md')
---

<DefaultPageLayout content={{ title, description }} showPageHeader={false}>
  <PostPreviewList {posts} />
  <div class="page__actions">
    <a
      class="action__go-to-blog text:primaryDark dark:text-primarySecondary hover:underline"
      href="/artikkelit"
      title="Kaikki artikkelit">Kaikki artikkelit &rarr;</a
    >
  </div>
</DefaultPageLayout>

<style>
  .page__actions {
    @apply flex justify-center md:justify-end py-6;
  }
  .action__go-to-blog {
    @apply text-base uppercase;
  }
</style>
