---
import DefaultPageLayout from '../layouts/default.astro'
import PostPreviewList from '../components/PostPreviewList.astro'

const title = 'Etusivu'
const description = 'Välilehti on.. mitä se nyt on.'

const posts = Astro.fetchContent('./artikkelit/*.md')
---

<DefaultPageLayout content={{ title, description }} showPageHeader={false}>
  <PostPreviewList {posts} />
  <div>
    <a href="/artikkelit" title="All Posts">All Posts &rarr;</a>
  </div>
</DefaultPageLayout>
