---
import { SITE } from '../config'
---

<footer class="footer">
  <nav class="nav">
    <div>
      2021 &copy; Copyright notice | <a
        href={SITE.githubUrl}
        title={`${SITE.name}'s Github URL'`}>{SITE.name}</a
      >
    </div>
  </nav>
</footer>
