---
import { SITE } from '../config'
import SvgIcon from './SvgIcon.astro'

//import SearchBtn from './SearchBtn.svelte'
---

<header class="header border-primaryDark dark:border-primarySecondary">
  <div class="header__logo">
    <a href="/" class="avatar">
      <img class="header__logo-img" src="/assets/Floppis.svg" alt="Floppis" />
    </a>
  </div>
  <div class="header__meta flex-1">
    <h3 class="header__title dark:text-primarySecondary text-primaryDark">
      <a href="">{SITE.name}</a>
    </h3>
    <div class="header__meta-more flex ">
      <p class="header__desc text-primaryDark dark:text-primarySecondary">
        {SITE.description}
      </p>
      <nav class="header__nav flex">
        <ul
          class="header__ref-list text-primaryDark dark:text-primarySecondary"
        >
          <li>
            <input class="w-0 h-0 invisible" id="themeSelector" type="checkbox"
            /><label class="cursor-pointer" for="themeSelector">
              <svg
                id="light"
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                fill="currentColor"
                class="bi bi-sun-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
                ></path>
              </svg>

              <svg
                id="dark"
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                fill="currentColor"
                class="bi bi-moon-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"
                ></path>
              </svg>
            </label>
          </li>
          <li>
            <a href={SITE.githubUrl} title={`${SITE.name}'s Github URL'`}>
              <SvgIcon>
                <path
                  d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
                ></path>
              </SvgIcon>
            </a>
          </li>
          <li>
            <a href="/rss.xml" title="RSS">
              <SvgIcon>
                <path d="M4 11a9 9 0 0 1 9 9"></path>
                <path d="M4 4a16 16 0 0 1 16 16"></path>
                <circle cx="5" cy="19" r="1"></circle>
              </SvgIcon>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<script>
  //toggle light ja dark moden välillä
  const themeSelector = document.querySelector('#themeSelector')
  const html = document.querySelector('html')

  //checked = localstoragesta haettu arvo
  const checked = JSON.parse(localStorage.getItem('themeSelector'))
  themeSelector.checked = checked

  //kun darkmode päällä selektorin arvo localstorageen ja lisätään dark html tägin classiin
  const darkmodeOn = () => {
    localStorage.setItem('themeSelector', themeSelector.checked)
    html.classList.add('dark')
    document.getElementById('light').style.display = 'inline'
    document.getElementById('dark').style.display = 'none'
  }

  //tässä sama mutta poistetaan darkki html tägistä
  const darkmodeOff = () => {
    localStorage.setItem('themeSelector', themeSelector.checked)
    html.classList.remove('dark')
    document.getElementById('light').style.display = 'none'
    document.getElementById('dark').style.display = 'inline'
  }
  const toggleDarkMode = () => {
    themeSelector.checked ? darkmodeOn() : darkmodeOff()
  }

  toggleDarkMode()
  themeSelector.addEventListener('click', toggleDarkMode)
</script>

<style>
  .header {
    @apply flex gap-4 border-b-2 py-3/* border-gray-200 dark:border-gray-700 - check styles/global.css */;
  }
  .header__logo-img {
    @apply w-20 h-20;
  }
  .header__title {
    @apply text-4xl font-extrabold md:text-5xl;
  }
  .header__desc {
    @apply text-xl flex-1;
  }
  .header__ref-list {
    @apply flex gap-3;
  }
</style>
