---
import { NAV_ITEMS } from '../config'
import { toTitleCase } from '../utils/utils.ts'
---

<nav class="nav py-3">
  <ul class="nav-list text-primaryDark dark:text-primarySecondary">
    {Object.keys(NAV_ITEMS).map((navItemKey) => (
      <li>
        <a
          class="hover:underline "
          href={NAV_ITEMS[navItemKey].path}
          title={NAV_ITEMS[navItemKey].title}
        >
          {toTitleCase(NAV_ITEMS[navItemKey].title)}
        </a>
      </li>
    ))}
  </ul>
</nav>

<style>
  .nav-list {
    @apply inline-flex list-none gap-8 text-2xl font-bold  py-2 flex-wrap;
  }
</style>
